.heading-t-xsmall {
  font-size: $font-size-6;
}

.heading-t-small {
  font-size: $font-size-5;
}

.heading-t-medium {
  font-size: $font-size-4;
}

.heading-t-large {
  font-size: $font-size-3;
}

.heading-t-xlarge {
  font-size: $font-size-2;
}

.heading-t-xxlarge {
  font-size: $font-size-1;
}
