.header {
  border-top: 5px solid $color-bd-1;
  border-bottom: 1px solid lighten( $color-bd-1, 80%);
  min-height: 56px;
  position: relative;
}

.header-heading {
  float: left;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 56px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.header-l {
  padding-left: $font-size-4;
  padding-right: $font-size-4;
  width: 100%;
}

.header-l > * {
  float: left;
}

.header-l-1 {
  width: 20%;
}

.header-l-2 {
  width: 80%;
}
